/* Navbar */
.navbar-brand img {
    width: 130px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(10, 56, 87, 0.747) !important;
}

.nav-link:hover {
    color: #0851da !important;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/andrew-neel-cckf4TsHAuw-unsplash.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    margin-top: 70px;
    height: 640px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)) !important;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.jumbotron .display-4 {
    margin-top: 250px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron p {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

/* About Us */
.about-us {
    margin-top: 10px;
    padding: 20px 0;
    /* background-color: aqua; */
}

.about-us h4 {
    text-transform: uppercase;
    font-size: 30px;
}

.about-us p {
    text-transform: capitalize;
    font-size: 20px;
}

.about-us .box {
    padding: 15px 30px;
    border: 1px solid #eee;
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

/* Services */
.services {
    margin-top: 40px;
    padding: 10px 0;
}

.services h4 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.about-us h4::after, .services h4::after, .excellence .choose-us::after {
    content: '';
    display: block;
    width: 100px;
    background: #242a30;
    height: 2px;
    margin-top: 20px !important;
    margin: auto;
    bottom: 0;
}

.services .card {
    margin-top: 10px;
    padding-top: 15px;
    border: 1px solid #eee;
    box-shadow:  0 3px 15px -2px rgba(0, 0, 0, 0.3);
}

.services .card h5 {
    text-transform: uppercase;
}

.services .card p {
    font-size: 14px;
    text-transform: capitalize;
}

.services img {
    width: 150px;
    height: 150px;
}

/* Excellence */
.excellence {
    margin-top: 50px;
}

.excellence .choose-us {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.excellence .box-left {
    height: 110px;
    background-color: white;
    border: 1px solid #eee;
    border-left: 10px solid #0B63DC;
    /* border-right: 10px solid #0B63DC; */
    margin: 8px 0 8px 0;
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.excellence .box-right {
    height: 110px;
    background-color: white;
    border: 1px solid #eee;
    /* border-left: 10px solid #0B63DC; */
    border-right: 10px solid #0B63DC;
    margin: 8px 0 8px 0;
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.excellence .box-right img {
    margin-top: 30px !important;
}

.excellence img {
    width: 50px;
    height: 50px;
    margin-top: 25px !important;
    margin: 15px;
}

.excellence h4.excellence-title {
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.excellence p {
    font-size: 12px;
    color: #ACACAC;
    margin-top: 3px;
    text-transform: capitalize;
}

/* Footer */
.footer {
    margin-top: 30px;
    background-color: #0851da;
}

.footer p {
    margin-top: 15px;
    font-size: 12px;
    color: white;
    text-align: center;
}

/* Desktop Version */
@media (min-width: 992px) {
    /* Navbar */
    .navbar-brand img {
        width: 180px;
    }

    .navbar-nav a:hover {
        border-bottom: 3px solid #0B63DC;
    }

    .navbar-nav a.active {
        color: #0851da !important;
        border-bottom: 3px solid #0B63DC;
    }

    /* Jumbotron */
    .jumbotron {
        margin-top: 93px;
        height: 555px;
    }

    .jumbotron .display-4 {
        margin-top: 180px;
        font-size: 60px;
    }

    /* Excellence */
    .excellence img {
        width: 65px;
        height: 65px;
        margin: 15px !important;
    }

    .excellence .box-right img {
        margin-top: 20px !important;
    }

    .excellence .box-left {
        height: 100px;
    }

    .excellence .box-left h4 {
        margin-top: 20px !important;
    }

    .excellence .box-right {
        height: 100px;
    }

    .excellence h4.excellence-title {
        margin-top: 15px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .excellence p {
        font-size: 14px;
        color: rgb(112, 108, 108);
        margin-top: 3px;
        text-transform: capitalize;
    }

    /* Footer */
    .footer {
        height: 60px;
    }

    .footer p {
        font-size: 16px;
    }
}